name: Build & Publish to npm

on:
  workflow_dispatch: 
  push:
    branches: ["main"]
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: "Automated Version Bump"
        uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Setup pnpm"
        uses: pnpm/action-setup@v4.2.0  
        with:   # Version of pnpm to install
          version: # optional
    # Where to store pnpm files
          dest: # optional, default is ~/setup-pnpm
    # If specified, run `pnpm install`
          run_install: # optional, default is null
    # File path to the package.json to read "packageManager" configuration
          package_json_file: # optional, default is package.json
    # When set to true, @pnpm/exe, which is a Node.js bundled package, will be installed, enabling using pnpm without Node.js.
          standalone: # optional, default is false
          
